.Card {
  border: 1px solid black;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px 3px rgb(1, 255, 22);
  transition: all 200ms ease-out;
}
