.MemoryGame {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.MemoryGame .mainGame {
  border-radius: 2rem;
  width: 950px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  background-color: #f6e3ba;
}

h1 {
  text-align: center;
}
